<%- include("header") -%>


    <div class="box" id="heading">
      <h1><%= kindofday %></h1>
    </div>
    <div class="box">
        <% for(var i=0;i< addnewitems.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= addnewitems[i] %></p>
            </div>
            <% } %>
            <form class ="item" action="/" method="post">
                <input type="text" name="newitem" placeholder="New item." autocomplete="off">
                <button type="submit" name="button" value=<%= kindofday %>>+</button>
              </form>
    </div>

<%- include("footer") -%>
